<div class="lynx-footer-dark">
    <div class="w-layout-grid lynx-grid-footer-dark">
      <div id="w-node-f8212333-7d0b-64b4-1c7e-75447cd2838a-7cd28388" class="lynx-block-footer"><img src="assets/images/logo-white.png" loading="lazy" alt="" class="lynx-logo-footer"></div>
      <div id="w-node-f8212333-7d0b-64b4-1c7e-75447cd2838c-7cd28388" class="lynx-block-footer">
        <div class="lynx-heading-footer-white">Quick Links</div>
        <a routerLink="/podcast" routerLinkActive="active-link" class="lynx-link-footer-large-white">Podcasts</a>
        <a routerLink="/news" routerLinkActive="active-link" class="lynx-link-footer-large-white">News</a>
        <a routerLink="/contact" routerLinkActive="active-link" class="lynx-link-footer-large-white">Contact Us</a>

      </div>
      <div id="w-node-f8212333-7d0b-64b4-1c7e-75447cd28395-7cd28388" class="lynx-block-footer">
        <div class="lynx-heading-footer-white">Site Information</div>
        <a routerLink="/about" routerLinkActive="active-link" class="lynx-link-footer-large-white">ABOUT US</a>
        <a routerLink="/event" routerLinkActive="active-link" class="lynx-link-footer-large-white">Events</a>
        <a routerLink="/IRPRI" routerLinkActive="active-link" class="lynx-link-footer-large-white">IRPRI</a>

      </div>
      <div id="w-node-f8212333-7d0b-64b4-1c7e-75447cd2839e-7cd28388" class="lynx-block-footer">
        <div class="lynx-heading-footer-white">Follow</div>
        <a href="https://www.linkedin.com/company/independent-power-producers-association-of-india/posts/?feedView=all" target="_blank" class="lynx-link-footer-large-white"> <i class="bi bi-linkedin" style="color: #0077b5;"></i> Linkedin</a>
        <a href="https://x.com/IPPAI_India" target="_blank" class="lynx-link-footer-large-white"> <i class="bi bi-twitter" style="color: #1DA1F2;"></i> Twitter</a>
        <a href="https://www.youtube.com/@IPPAIIndia" target="_blank" class="lynx-link-footer-large-white"> <i class="bi bi-youtube" style="color: #FF0000;"></i> YOUTUBE</a>
      </div>
    </div>
    <div class="lynx-block-footer-down">
      <div class="lynx-text-footer-dark">All rights reserved</div>
      <a href="#" class="lynx-link-footer-dark">IPPAI</a>
    </div>

</div> 
<router-outlet></router-outlet>