.nav-bar-2 {
    width: 100%;
    background: white;
    padding: 15px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    position: sticky;
    top: 0;
  }
  
  .nav-container {
    width: 100%;
    height: 40px;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .menu-button {
    display: none;
    cursor: pointer;
  }
  
  .menu-icon {
    width: 30px;
    height: auto;
  }
  
  .logo-div {
    flex-shrink: 0;
    margin-left: 20px;
  }
  
  .logo-div img {
    width: 100px;
    height: auto;
  }
  
  .nav-content-2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
  }
  
  .nav-link-2 {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
  }
  
  .w--current {
    font-weight: bold;
    color: #050505;
  }
  
  .nav-cta-button-container {
    margin-left: 30px;
  }

  
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    padding: 40px;
  }
  
  .centered-image {
    max-width: 100%;
    height: auto;
  }

  .cta-button {
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
  }
  
  .cta-button:hover {
    background: #333;
  }
  
  @media (max-width: 1024px) {
    .nav-container {
        flex-direction: row;
        justify-content: space-between;
        height: auto;
    }
  
    .nav-content-2 {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 0;
        background: white;
        width: 100%;
        text-align: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
    }
  
    .nav-content-2.active {
        display: flex;
    }
  
    .nav-menu {
        flex-direction: column;
        gap: 1px;
    }
  
    .menu-button {
        display: block;
    }
  
    :host {
        min-height: 100vh;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        background: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
  
    .page-wrapper {
        padding-top: 80px;
    }
  }

  .text-container {
    max-width: 1200px;
    text-align: center;
    padding: 35px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .heading-2 {
    margin-bottom: 40px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
  }
  
  .text-block-2 {
    margin-bottom: 40px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
  }

  .milestones-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #fff;
  }
  
  .milestones-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
  }
  
  .milestones-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
  
  .milestone-item {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    max-width: 300px;
  }
  
  .milestone-number {
    font-size: 36px;
    font-weight: 700;
    background-image: linear-gradient(to right, #b16cea 20%, #ff5e69 60%, #ff8a56 80%, #ffa84b);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
    
  .milestone-text {
    font-size: 18px;
    color: #333;
  }
  
  .milestone-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .milestone-image {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Responsive Design */
  @media (max-width: 1024px) {
    .milestones-grid {
      grid-template-columns: 1fr; /* Stack all elements */
      text-align: center;
    }
    .milestones-column {
      align-items: center;
    }
    .milestone-image {
      max-width: 80%;
    }
  }
  
  .contributors-container {
    max-width: 1350px;
    text-align: left;
    padding: 35px;
    background-color: white;
    border-radius: 8px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .uui-team03_component {
    margin-top: 4rem;
  }
  
  .uui-team03_list {
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    place-items: start;
    display: grid;
  }
  
  .w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
  .uui-team03_item {
    flex-direction: column;
    align-items: stretch;
    display: flex;
  }
  
  .uui-team03_image-wrapper {
    margin-bottom: 1.25rem;
  }
  
  .uui-heading-tiny {
    color: var(--untitled-ui--gray900);
    letter-spacing: normal;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
  }
  
  .uui-text-size-medium {
    color: var(--untitled-ui--gray500);
    font-family: Montserrat, sans-serif;
    font-size: .8rem;
    font-style: normal;
  }
  
  .uui-team03_image {
    object-fit: cover;
    border-radius: 100%;
    width: 5rem;
    min-width: 5rem;
    height: 5rem;
    /* min-height: 5rem; */
  }


  .nomination-container {
    display: flex;
    justify-content: space-between;
    max-width: 1350px;
    text-align: left;
    padding: 35px;
    background-color: white;
    border-radius: 8px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .left-section {
    width: 40%;
  }
  .right-section {
    width: 50%;
  }
  .accordion-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  .accordion-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
  }
  .accordion-content {
    margin-top: 5px;
    color: #666;
  }
  
  .cf-h2-heading-2 {
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 110%;
}

.cf-faq-paragraph {
  color: #0d0e10bf;
  letter-spacing: -.32px;
  max-width: 640px;
  margin-top: 24px;
  margin-bottom: 32px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 156%;
}

.cf-gradient-span-3 {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #b16cea 20%, #ff5e69 60%, #ff8a56 80%, #ffa84b);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
}

.cf-faq-questions {
  color: #0d0e10;
  width: 90%;
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 34px;
}

.cf-faq-content {
  color: #0d0e10bf;
  margin-bottom: 0;
  padding-bottom: 30px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}