<app-header></app-header>
<div class="page-wrapper">
    <div class="cf-hero-section-4">
      <div class="cf-1140px-wrapper---home-vertical-2">
        <div class="cf-heading-wrapper">
          <div data-w-id="8c9063dd-55a4-d1d0-9125-00f921c5d9d1" class="cf-heading-part-1 header-4">
            <h1 class="cf-82px-heading---black"><span class="cf-gradient-span-2">IPPAI Talks</span></h1>
            <a href="https://open.spotify.com/show/01ZgcSh6TJ1IlyITMPJsL5" data-w-id="8c9063dd-55a4-d1d0-9125-00f921c5d9d6" class="cf-call-arrow-button header-4 w-inline-block">
              <div>Listen on Spotify</div>
              <div class="cf-call-arrow-contain transparent"><img src="assets/images/Arrow---Right-1.svg" loading="lazy" alt="" class="cf-call-arrow-2"><img src="assets/images/Arrow---Right-1.svg" loading="lazy" alt="" class="cf-call-arrow-down-2"></div>
            </a>
          </div>
          <div data-w-id="8c9063dd-55a4-d1d0-9125-00f921c5d9dc" class="cf-heading-part-2">
            <h2 class="cf-82px-heading---black">Power Sector </h2>
          </div>
          <div data-w-id="8c9063dd-55a4-d1d0-9125-00f921c5d9df" class="cf-heading-part-3">
            <h2 class="cf-82px-heading---black">Podcasts</h2>
          </div>
        </div>
        <div class="cf-home-testimonial-wrap">
          <div class="cf-testimonial-black-image"><img src="assets/images/IPPAI-Talks.jpeg" loading="lazy" alt="" class="cf-round-testimonial-image"></div>
          <div class="cf-testimonial-right-wrap">
            <p class="cf-18px-paragraph-2">IPPAI Talks Podcast is a captivating platform dedicated to sharing the latest news and thought-provoking interviews in the power sector. Hosted by industry experts, this podcast aims to enlighten and engage listeners by delving into the dynamic world of power generation, distribution, and renewable energy.</p>
            <div class="cf-testimonial-bottom-text header-4"><img src="assets/images/Stars.svg" loading="lazy" alt="" class="cf-black-review-stars">
              <div class="cf-testimonial-italic-text">“IPPAI Talks Podcast stands out for its expertly curated content, featuring industry specialists who provide in-depth analysis and timely insights into the power sector.”</div>
              <div class="cf-testimonial-black-name">Alex Tachov, Founder, Poise</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="podcasts light-color-gradient">
      <div class="container">
        <div class="w-embed w-script">
          <div id="podcast-widget"></div>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
<router-outlet></router-outlet>