<app-header></app-header>
<div class="main-container">
    <div class="static-bg-color"></div>
    <div class="section">
      <div class="padding-global">
        <div class="container-5">
          <div class="layout">
            <div class="cf-1140px-wrapper-2">
              <div data-w-id="0ce80a3a-0f9a-bb76-000c-f7cbe4085ace" class="home-left-wrapper">
                <div class="w-layout-grid grid-2">
                  <div id="w-node-_0ce80a3a-0f9a-bb76-000c-f7cbe4085ad0-6fb9f1c8">Supported By</div><img id="w-node-_0ce80a3a-0f9a-bb76-000c-f7cbe4085ad2-6fb9f1c8" sizes="(max-width: 479px) 50px, (max-width: 767px) 31vw, (max-width: 991px) 216px, (max-width: 1279px) 17vw, 216px" alt="" src="assets/images/images_upscayl_4x_realesrgan-x4plus.png" loading="lazy" srcset="assets/images/images_upscayl_4x_realesrgan-x4plus-p-500.png 500w, assets/images/images_upscayl_4x_realesrgan-x4plus.png 792w" class="image-3">
                </div><img sizes="(max-width: 479px) 84vw, (max-width: 767px) 79vw, (max-width: 991px) 539.9921875px, (max-width: 1279px) 42vw, 539.9921875px" srcset="assets/images/Asset-1black-p-500.png 500w, assets/images/Asset-1black-p-800.png 800w, assets/images/Asset-1black-p-1080.png 1080w, assets/images/Asset-1black-p-1600.png 1600w, assets/images/Asset-1black-p-2000.png 2000w, assets/images/Asset-1black-p-2600.png 2600w, assets/images/Asset-1black-p-3200.png 3200w, assets/images/Asset-1black.png 5000w" alt="" src="assets/images/Asset-1black.png" loading="lazy">
                <h1 class="cf-bio-text white">Celebrating 25 years of hosting the conference  </h1>
                <a href="https://rpr.ippai.org/" data-w-id="0ce80a3a-0f9a-bb76-000c-f7cbe4085ad6" class="cf-cta-button rectangle small w-inline-block">
                  <div class="cf-button-text-2">LEARN MORE</div>
                  <div class="cf-button-gradient"></div>
                </a>
                <div class="cf-testmonial-text-wrapper"><img loading="lazy" src="assets/images/Vector-Stroke.svg" alt="" class="cf-star-image">
                  <div class="text-block"><span class="cf-extra-bold-span">8th to 11th January 2025<br>@ Shoonya Farm Retreat, Belagavi, Karnataka</span> 2024</div>
                </div>
              </div>
              <div data-w-id="0ce80a3a-0f9a-bb76-000c-f7cbe4085ae2" style="opacity:0" class="cf-image-review-container"><img sizes="(max-width: 479px) 84vw, (max-width: 767px) 81vw, (max-width: 991px) 65vw, (max-width: 1439px) 42vw, 570px" srcset="assets/images/windmill-p-500.png 500w, assets/images/windmill.png 627w" alt="" src="assets/images/windmill.png" loading="eager" class="cf-hero-right-image"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-wrapper">
    <div class="cf-hero-section-3">
      <div class="cf-1140px-wrapper---home-vertical">
        <h1 class="cf-82px-heading">IRPRI Course:<br><span class="cf-gradient-span">Regulatory &amp; Policy Framework</span> in the Power Sector.</h1>
        <p class="cf-22px-paragraph---white">3 day Residential course <br>jointly conducted by IPPAI and Idam Infrastructure Advisory<br><span>13th to 15th June 2024 </span></p>
        <a href="https://webflow.com/templates/designers/conversionflow" data-w-id="49fa8982-a24b-58a9-979f-ba4ca0d812de" class="cf-cta-button rectangle w-inline-block">
          <div class="cf-button-text">Register</div>
          <div class="cf-button-gradient"></div>
        </a>
        <div style="padding-top:56.17021276595745%" class="video w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=http%3A%2F%2Fwww.youtube.com%2Fembed%2Fvideoseries%3Flist%3DPLzOzSMkkiKvXe6Zf7bFTYNAh5yyYySCF2&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fplaylist%3Flist%3DPLzOzSMkkiKvXe6Zf7bFTYNAh5yyYySCF2&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FHnRJo_htzdg%2Fhqdefault.jpg%3Fsqp%3D-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ%3D%3D%26rs%3DAOn4CLDsmY9CD6jw4hf5XUA3AmaFhUh1lg%26days_since_epoch%3D19864&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube" width="940" height="528" scrolling="no" allowfullscreen="" title="24th Regulators & Policymakers Retreat"></iframe></div>
      </div>
    </div>
    <section class="uui-section_faq03">
      <div class="uui-page-padding-4">
        <div class="uui-container-large-4">
          <div class="uui-padding-vertical-xhuge-6">
            <div class="uui-max-width-large-3">
              <div class="uui-heading-subheading-4">Past Events</div>
              <h2 class="uui-heading-medium-5">IPPAI Events</h2>
              <div class="uui-space-xsmall-3"></div>
              <div class="uui-text-size-large-5">Few of our past events conducted by IPPAI</div>
            </div>
            <div class="uui-faq03_component">
              <div class="uui-faq03_list">
                <div class="uui-faq03_content">
                  <div class="uui-faq03_question">
                    <div class="uui-faq03_heading">24th Regulators &amp; Policymakers Retreat - Nett Zero Mission </div>
                  </div>
                  <div class="uui-text-size-medium-4">
                    <a href="#">8th to 11th Feb 2024</a>
                  </div>
                </div>
                <div class="uui-faq03_content">
                  <div class="uui-faq03_question">
                    <div class="uui-faq03_heading">Challenges faced by generators, stakeholders &amp; consumers amid escalating power prices </div>
                  </div>
                  <div class="uui-text-size-medium-4">23rd June2023 </div>
                </div>
                <div class="uui-faq03_content">
                  <div class="uui-faq03_question">
                    <div class="uui-faq03_heading">The 23rd Regulators &amp; Policy Makers Retreat 2022 - Nett Zero Mission </div>
                  </div>
                  <div class="uui-text-size-medium-4">7th April 2023 </div>
                </div>
                <div class="uui-faq03_content">
                  <div class="uui-faq03_question">
                    <div class="uui-faq03_heading">The 22nd Regulators &amp; Policy Makers Retreat 2021 </div>
                  </div>
                  <div class="uui-text-size-medium-4"> 8-April 2022 </div>
                </div>
                <div class="uui-faq03_content">
                  <div class="uui-faq03_question">
                    <div class="uui-faq03_heading">The Age of Renewables </div>
                  </div>
                  <div class="uui-text-size-medium-4"> 22-Jul-2021 </div>
                </div>
                <div id="w-node-_90438cbd-f5a6-b382-9fbc-e6a1aaf37580-6fb9f1c8" class="uui-faq03_content">
                  <div class="uui-faq03_question">
                    <div class="uui-faq03_heading">Cyber Security in the Power Sector, Issues , Challenges and theway forward </div>
                  </div>
                  <div class="uui-text-size-medium-4">29-Jun-2021 </div>
                </div>
                <div id="w-node-_150a3083-a2db-7093-dafa-0cda8f47dc50-6fb9f1c8" class="uui-faq03_content">
                  <div class="uui-faq03_question">
                    <div class="uui-faq03_heading"> Future of Renewables Post Covid 19 </div>
                  </div>
                  <div class="uui-text-size-medium-4">02-Jun-2020 </div>
                </div>
                <div id="w-node-_35d146f5-2824-faed-5ec3-54cf91d31369-6fb9f1c8" class="uui-faq03_content">
                  <div class="uui-faq03_question">
                    <div class="uui-faq03_heading">FUTURE OF BANKING AND POWER SECTOR: Post Covid -19 </div>
                  </div>
                  <div class="uui-text-size-medium-4">09-Jun-2020 </div>
                </div>
                <div id="w-node-_1274259f-58f7-781f-c8d0-ad5bb5560180-6fb9f1c8" class="uui-faq03_content">
                  <div class="uui-faq03_question">
                    <div class="uui-faq03_heading">IMPACT OF COVID ON POWER SECTOR -perspective of finan-cial and other stakeholders on way forward </div>
                  </div>
                  <div class="uui-text-size-medium-4">01-Jun-2020 </div>
                </div>
                <div id="w-node-_1bff49ed-e29a-4e38-1f90-d56c5f2db466-6fb9f1c8" class="uui-faq03_content">
                  <div class="uui-faq03_question">
                    <div class="uui-faq03_heading">What has the EA 2003 achieved and what it couldn’t? Will the pro-posed 2020 amendments Bridge the gaps or widen them? </div>
                  </div>
                  <div class="uui-text-size-medium-4">25th May 2020 </div>
                </div>
                <div id="w-node-f43393d5-2ad9-8070-053f-85ec5c60204b-6fb9f1c8" class="uui-faq03_content">
                  <div class="uui-faq03_question">
                    <div class="uui-faq03_heading">The 21st Regulators &amp; Policy Makers Retreat 2020: The PowerSector Post Covid – a look at the Mind Set Different streams ofthought and implications </div>
                  </div>
                  <div class="uui-text-size-medium-4"> 16 -17 De-cember 2020 </div>
                </div>
                <div id="w-node-d9fde187-18c8-3a9f-e9f7-81aa5e0c3219-6fb9f1c8" class="uui-faq03_content">
                  <div class="uui-faq03_question">
                    <div class="uui-faq03_heading">Stress mitigation strategies for the Indian Power Sector: Expectations from &amp; of all Stakeholders –Renewables, Thermal, Discoms,Transcos, Banks, Government, Regulators, Legal Fraternity &amp;Think Tanks </div>
                  </div>
                  <div class="uui-text-size-medium-4">12-Feb-2020 </div>
                </div>
                <div id="w-node-_5251d255-575a-235a-a986-87440a8a3aa8-6fb9f1c8" class="uui-faq03_content">
                  <div class="uui-faq03_question">
                    <div class="uui-faq03_heading">20th Regulators &amp; Policymakers Retreat 2019: Saving the Planet - Challenges of Power and Water </div>
                  </div>
                  <div class="uui-text-size-medium-4">5-7 December 2019 </div>
                </div>
                <div id="w-node-_931d4ee3-5582-a456-9e33-01f229076848-6fb9f1c8" class="uui-faq03_content">
                  <div class="uui-faq03_question">
                    <div class="uui-faq03_heading">Closed Door Roundtable &amp; Strategy Meet on Critical Issues faced by Renewable Energy Developers </div>
                  </div>
                  <div class="uui-text-size-medium-4"> 0-Apr-2019 </div>
                </div>
                <div id="w-node-_781c31f8-911f-4e00-e1ec-73e30fa26747-6fb9f1c8" class="uui-faq03_content">
                  <div class="uui-faq03_question">
                    <div class="uui-faq03_heading">19th Regulators &amp; Policymakers, Retreat 2018: Intelligent power strategies and new business opportunities to enable,“24 x 7 Power for All” </div>
                  </div>
                  <div class="uui-text-size-medium-4"> 22-24 Novem-ber 2018 </div>
                </div>
                <div id="w-node-_136b44c0-500e-0ee0-8a76-1b24cbe2d541-6fb9f1c8" class="uui-faq03_content">
                  <div class="uui-faq03_question">
                    <div class="uui-faq03_heading">Are stressed assets in the power sector a great opportunity to revivediscoms, power producers and consumers? </div>
                  </div>
                  <div class="uui-text-size-medium-4"> 06-Sep-2018 </div>
                </div>
                <div id="w-node-_2a52d37d-a7b6-c389-2cf4-60b9981c05c7-6fb9f1c8" class="uui-faq03_content">
                  <div class="uui-faq03_question">
                    <div class="uui-faq03_heading">Promoting Fresh Investments in the Power Sector in Telangana </div>
                  </div>
                  <div class="uui-text-size-medium-4"> 12-Jul-2018 </div>
                </div>
                <div id="w-node-_713d989e-78c9-6b9c-98ed-c3694b84da6d-6fb9f1c8" class="uui-faq03_content">
                  <div class="uui-faq03_question">
                    <div class="uui-faq03_heading">Meeting being organised by IPPAI to discuss and seek suggestionsfrom key stakeholders regarding Writ - C No. - 18170 of 2018pending before the Hon’ble Allahabad High Court </div>
                  </div>
                  <div class="uui-text-size-medium-4"> 08-Jun-2018 </div>
                </div>
                <div id="w-node-_018855ab-a98f-3178-1dae-a21bea9fd088-6fb9f1c8" class="uui-faq03_content">
                  <div class="uui-faq03_question">
                    <div class="uui-faq03_heading">Emerging Opportunities and Challenges in Open Access in thePower Sector in Uttar Pradesh for Discoms and power Consumers </div>
                  </div>
                  <div class="uui-text-size-medium-4"> 10-May-2018 </div>
                </div>
                <div id="w-node-_59310938-210b-4353-debf-45105eee789b-6fb9f1c8" class="uui-faq03_content">
                  <div class="uui-faq03_question">
                    <div class="uui-faq03_heading">Challenges &amp; Opportunities in Open Access for Industrial &amp; Com-mercial Power Consumers, Discoms, Generators, Electric Vehicles&amp; Other Stakeholders </div>
                  </div>
                  <div class="uui-text-size-medium-4"> 16-Feb-2018 </div>
                </div>
                <div id="w-node-_86baa0cf-5a07-d26d-8851-d04f26c88beb-6fb9f1c8" class="uui-faq03_content">
                  <div class="uui-faq03_question">
                    <div class="uui-faq03_heading">The Correlation between Electricity Laws, Regulations, Prices and the Impact on ELECTRIC VEHICLES (EVs) </div>
                  </div>
                  <div class="uui-text-size-medium-4"> 24-Jan-2018 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<app-footer></app-footer>
<router-outlet></router-outlet>