<app-header></app-header>
<div class="page-wrapper">
    <div class="video_wrapper">
      <div class="w-layout-blockcontainer container-4 w-container">
        <div class="w-layout-grid grid">
          <div id="w-node-_0b9963a6-af0b-eb77-798c-6b0135497f42-f446a9f9" style="padding-top:75%" class="w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FklVf-20g-N4%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fshorts%2FklVf-20g-N4%3Fundefined&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FklVf-20g-N4%2Fhq2.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube" width="940" height="705" scrolling="no" allowfullscreen="" title="Megawatt on - Union budget 2024-25 announces measures for energy security"></iframe></div>
          <div id="w-node-cc5a3e69-0569-e0bf-9a45-44f95119dca4-f446a9f9" style="padding-top:75%" class="w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FNUQHYcvkDEM%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fshorts%2FNUQHYcvkDEM%3Fundefined&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FNUQHYcvkDEM%2Fhq2.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube" width="940" height="705" scrolling="no" allowfullscreen="" title="Megawatt on Nuclear Energy in India"></iframe></div>
        </div>
      </div>
    </div>
    <div class="code-embed w-embed w-script">
      <div id="news-widget"></div>
    </div>
    
    <div class="podcasts light-color-gradient">
      <div class="container">
        <div class="w-embed w-script">
          <div id="podcast-widget"></div>
        </div>
      </div>
    </div>
    
  </div>
<app-footer></app-footer>
<router-outlet></router-outlet>